*{
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.--dds-flex-row,
.--dds-flex-column,
.--dds-flex-center{
  display: flex;
}
.--dds-flex-row{
  flex-direction: row;
}
.--dds-flex-column{
  flex-direction: column;
}
.--dds-flex-center{
  align-items: center;
  justify-content: center;
}